<div class="well well-md">Sometimes we might be presented with a complicated json as a data provider. We can parse the json freely while setting the <code>data-loop</code> or displaying a value in a template</div>

<div style="margin-bottom: 3%">
For eg, let's say we have a data provider whose JSON looks something like this
<br /><br />
<pre>{{var JSON.stringify(this)}}</pre>
<br />
Right off the bat we can see that this is a rather not-so-easy JSON structure. So how do we tackle it while using JST?
</div>